*{
}

body{
	margin: 0px;
	
	
}

.container{
	
	
	text-align: center;
    background-color: #ffffff;
    height: 100vh;
    overflow: overlay;
    display: flex;
    flex-direction: column;
    align-content: center;
    
    align-items: center;
	background-image: url("1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
	
}

.container::-webkit-scrollbar {
  display: none;
}



h2{
	margin: 0px;
	padding: 5px;
	
}

h1 {
    margin: 0px;
    padding: 10px;
    color: white;
	font-size: 3em;
}

h3{
	color: #000000;
}


.securedBy{
	display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    
}

label, input{
	margin:5px;
}

.goClear{
	display: block;
	padding: 10px;
	
}

.box{
	display:block;
	display: block;
    margin: 10px;
    border-style: hide;
    padding: 10px;
	background-color: #ffffff90;
	border: 1px;
	border-style: solid;
}


.copyBtn{
	background-color: #ffffff90;
	margin: 5px;
	border-style: hidden;
	border: 1px;
	border-style: solid;
	
}

.copyBtn:hover{
	background-color: #ffffff;
	margin: 5px;
	border-style: hidden;
	cursor: pointer;
	border: 1px;
	border-style: solid;
	
}

.copyBtn:active{
	background-color: #ffffff90;
	margin: 5px;
	border-style: hidden;
	
	
}

.bottom-button{
	width: 100px;
    height: 50px;
    border-radius: 5px;
	border: 1px;
	border-style: solid;
}





.row{
	display:inline-flex;
	text-align:center;
	
}

textarea {
	background-color: #ffffff90;
	margin: 5px;
	border-style: hidden;
	border: 1px;
	border-style: solid;
	
}

.secOption{
	padding:5px;
}

.col{
	
}

.row-form {
	display: inline-flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.col-secOpt{
	display:none;
}

.row-secOptions{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
}

.agXferDrop{
	display:none;
}

.main-form{
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cpy-img{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.log{
	display: none;
}

.logItem{
	border: 1px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
	padding: 10px;
	margin: 10px;
	background-color: #ffffff90;
	

}

.logItem:hover {
    background-color: white;
    cursor: pointer;
	
}

.logItem:active {
    border: 1px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
	padding: 10px;
	margin: 10px;
	
}

.agentNameField{
	display:none;
}

pre{
	font-family: sans-serif;
}

.top-row{
	height: 190px;
}
label{
	color: #000000;
	font-size: 1em;

}

#signature{
     position:absolute;
     bottom:0;
     right:0;
}

.logButton-wrapper{
	display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.showLog-label{
	background-color: #ffffff90;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
	border-radius: 5px;
}

.showLog-label{
	background-color: #ffffff90;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
	border-radius: 5px;
	padding: 5px;
	border: 1px;
	border-style: solid;
	
}

#showLog:checked ~ .showLog-label{
	background-color: #000dffa6;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
	border-radius: 5px;
	border: 1px;
	border-style: solid;
	color: white;
	animation: colorChange 0.2s linear both;
	
	
	
	
}

@keyframes colorChange {
  0% {
    background-color: #ffffff;
    
  }
  
  100% {
    background-color: #000dffa6;
    
  }
}





.showLog-label:hover{
	background-color: #ffffff;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
	border-radius: 5px;
	cursor: pointer;
	border: 1px;
	border-style: solid;
}

.logo-wrapper{
	background-color: #ffffff90;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    justify-content: space-evenly;
	position: fixed;
	top: 0px;
	left:0px;
}

.box-logo-wrapper{
	display: flex;
}

.logo-img{
	width:50%;
	height:50%;
	margin: 5px 5px 10px 5px;
}

#showLog{
	display: none;
}

#showLog-label:hover{
	
}